<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 对应的是spring bean的加载 -->
	<typeAliases>
		<typeAlias alias="_User" type="cn.xiaoyu.ssm.domain.User" />
	</typeAliases>

	<!-- 注释这个在于springmvc整合的时候，spring的配置文件中bean.xml文件已经配置了这样的内容，所以会产生冲突，这就会导致出现报错 
		Result Maps collection already contains value for 只要将这儿的文件删除就可以了! <mappers> 
		<mapper resource="cn/xiaoyu/mybatis/inter/IUserOperation.xml"/> </mappers> -->

</configuration>